<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions must be outside the application tag -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chargeeasy">

        <!--
          *** CRITICAL: THIS IS THE API KEY ***
          It must be inside the <application> tag and must be enabled for "Maps SDK for Android".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwT6-1gAsDpE0sIfMdOJo9GRCo10B7JhE" />

        <!-- Your Activities -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroReservationActivity" android:exported="false" />
        <activity android:name=".SignInActivity" android:exported="false" />
        <activity android:name=".PhoneAuthActivity" android:exported="false" />
        <activity
            android:name=".OtpVerificationActivity"
            android:exported="false" />
        <activity android:name=".CompleteProfileActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".BookingActivity" android:exported="false" />

    </application>
</manifest>